@using AzureDesignStudio.Services
@inject DesignGrpcService _designService
@inject MessageService _messageService
@inject NavigationManager _navManager
@inherits FeedbackComponent<string, string>

<AuthorizeView>
    <Authorized>
        <Table DataSource="@_allDesignRecords" @bind-SelectedRows="@_selectedRows" 
            Context="tableCtx" Loading="@_loadingDesigns" HidePagination>
            <Selection Key="@tableCtx.Key" Type="radio" />
            <PropertyColumn Property="c => c.DesignName" Title="Your saved designs">
                <span style="vertical-align: middle"><IconComponent IconPath="assets/azure/reference-arch.svg" /></span>
                <span style="margin-left: 4px;">@tableCtx.DesignName</span>
            </PropertyColumn>
        </Table>
        <div style="padding-left: 48px;padding-top: 12px;">
            <Button Type="primary" Disabled="@((_selectedRows?.Count() ?? 0) == 0)" OnClick="HandleButtonClick">Load</Button>
            <Button Disabled="@((_selectedRows?.Count() ?? 0) == 0)" OnClick="HandleDelete">Delete</Button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="padding: 24px;">
            <div>Please sign in with your user account first.</div>
            <br />
            <Button Type="primary" OnClick="BeginLogin">Sign in</Button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private IEnumerable<DesignRecord> _selectedRows = default!;
}
